// --------------------
// Definition of variables
$green: #14a7a8;
$bold-orange: #f65b49;
$pink: #f8169e; //@import '../node_modules/bootstrap/scss/bootstrap.scss';
// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------
// --------------------
// Style reusable for all components
body {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
}

.board-icon {
  position: absolute;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 53px;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

.App {
  text-align: center;
  font-weight: bold;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  a {
    text-decoration: none;
    color: $green;
  }
}
.footer {
  color: black;
}
.page {
  flex-grow: 1;
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1em;
  }
  //not working
}

.board-search {
  border-radius: 10px;
}
.searchButton {
  width: 100%;
  border-radius: 10px;
}

.searchButtonEach {
  border-radius: 20px;
}
.boards {
  width: 85%;
  margin: auto;
}

.singleCard {
  flex-direction: row !important;
  font-size: 0.7rem;
  z-index: 10 !important;
  /* position: absolute !important;
  left: 1% !important;
  bottom: 20% !important; */
  width: 50vh !important;
  margin: 0.5rem auto;
}

.single-single {
  transform: translate(-2%, -130%);
}

.singleCard {
  img {
    width: 93px;
    height: 93px;
    max-width: 80vmin;
    max-height: 80vmin;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0.5rem;
  }
}

.card-body  {
  padding: 1rem !important;
}

.homeCard {
  width: 80%;
  height: 90%;
  border: solid 4px $green;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    color: $green

}

.homeCard p {
  color: black
}

.noticeCard {
  width: 100%;
  height: 90%;
  border: solid 2px black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.noticeCard img {
  width: 95%;
  border-radius: 10px;
}

.noticeCard h6,
.noticeCard h7 {
  margin: 0.5rem;
}

.homeCard img {
  width: 95%;
  border-radius: 10px;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.notices {
  width: 98%;
  margin: auto;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center
}

#pac-input {
  z-index: 10 !important;
  display: block !important;
}

.profilePicture {
  position: absolute;
  height: 212px;
  width: 212px;
  max-width: 80vmin;
  max-height: 80vmin;
  border-radius: 100%;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0);
  top: -30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileBackgroundSquare {
  margin: 50px auto;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #86bfc2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.profileText {
  margin-top: 180px;
}

.profileText p {
  margin-top: 1rem;
}

.profileText h3 {
  margin-top: 1rem;
}

.badge-wrapper {
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-badge {
  background-color: white;
  background: #ffffff;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 5px;
  color: #212529;
  border: 0.5px solid gray;
}

.editButton {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: -40px;
  $green: #14a7a8;
}

.inboxButton {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top: -40px;
  $green: #14a7a8;
}

.circular-fixed-bottom-right-button {
  height: 70px;
  width: 70px;
  background-color: $green;
  color: white;
  border-radius: 50px;
  position: fixed;
  bottom: 80px;
  right: 60px;
  border: 0px;
  font-size: 3rem;
  line-height: 1px;
}
.circular-fixed-bottom-right-button:after {
  content: '+';
  position: relative;
  top: -5px;
}

.filter-button {
  background-color: $green !important;
  border: none !important;
  min-width: 10vw;
  margin: 0 auto;
}

.input-form-group {
  display: flex;
}

.form-button {
  background-color: white !important;
  color: black !important;
  min-width: 10vw;
  margin: 0 auto;
  margin-left: 1rem;
  padding: 0 !important;
}

@media (max-width: 450px) {
  .App-footer {
    height: 62px;
    left: 0px;
    top: 606px;
  }
}

.muted-text-box {
  margin-bottom: 1rem;
}

.logo {
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.jammitTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}

.green-background {
  min-width: 308px;
  min-height: 582px;
  margin: auto;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #86bfc2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.press-login {
  transform: translate(0, 2270%);
}

.common-navbar {
  background: #f29b7f;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .navLinkElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 10px;
  }

  .navLinkSwitchedColors {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: white !important;
  }

  .navLinkIcon {
    width: 25px;
    height: 25px;
  }

  .navLinkElements p,
  .navLinkSwitchedColors p {
    margin: 0;
  }
}

@media (min-width: 450px) {
  .App-footer {
    display: none;
  }
}

.smaller-card {
  min-width: 300px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  margin: 1rem;
  text-align: left;
}

.smaller-card {
  img {
    width: 93px;
    height: 93px;
    max-width: 80vmin;
    max-height: 80vmin;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0.5rem;
  }
}

.smaller-card-request-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 1rem;
}

.smaller-card-text {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.smaller-card-text {
  .message {
    font-weight: normal;
  }
}

.smaller-card-request-buttons .btn {
  background-color: white !important;
}

.approveIcon {
  color: $green;
  z-index: -1;
}

.removeIcon {
  color: $bold-orange;
}

.requests h2 {
  text-align: left;
}

.modal-backdrop {
  width: 100% !important;
  height: 100% !important;
}

.adDetailCard {
  width: 309px;
  min-height: 70vh;
  left: 28px;
  top: 96px;
  margin: auto;

  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #86bfc2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.adDetailCard img {
  width: 60%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.adDetailCard p {
  padding: 2px 30px;
  color: white;
  text-align: left;
}

.postComment {
  width: 80vw;
  margin: auto;
}

.comment {
  max-width: 90vw;
  height: auto;
  margin: 0.4rem auto;
  border: solid black 1px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
}

.comment img {
  border-radius: 50%;
  margin: 0.4rem;
  height: 10vh;
}

.search-bar {
  background-image: url('/images/006-search.png');
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: auto 50%;
}

.animation-colors {
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: $green;
  }
  50% {
    color: white;
  }
  100% {
    color: $bold-orange;
  }
}
@-moz-keyframes color-change {
  0% {
    color: $green;
  }
  50% {
    color: white;
  }
  100% {
    color: $bold-orange;
  }
}
@-ms-keyframes color-change {
  0% {
    color: $green;
  }
  50% {
    color: white;
  }
  100% {
    color: $pink;
  }
}
@-o-keyframes color-change {
  0% {
    color: $green;
  }
  50% {
    color: white;
  }
  100% {
    color: $pink;
  }
}
@keyframes color-change {
  0% {
    color: $green;
  }
  50% {
    color: white;
  }
  100% {
    color: $pink;
  }
}

.gen-form {
  width: 80vw;
  margin: auto;
  text-align: left;
}

.add-btn {
  height: 40px;
  width: 60px;
  border-radius: 15px;
  border: none;
  background-color: $green !important;
  font-size: 1px;
}

// @media only screen and (max-width: 600px) {
//   body {
//
// }
.marginized {
  margin: 1rem auto;
  border: 1px solid #c4c4c4;
}
