// --------------------
// Definition of variables
$primary: #14A7A8;
//@import '../node_modules/bootstrap/scss/bootstrap.scss';

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1em;
  }
//not working
  h1 {
    color: black !important;
    text-decoration: none !important;
  }
}
//not working
.board-search{
  border-radius: 10px;

}
.searchButton {
  width: 100%;
  //not working
}

 .searchButtonEach{
 border-radius: 20px;
}
.boards {
  width: 85%;
  margin: auto
}

.card {
  flex-direction: row !important;
  font-size: 0.2rem;
  z-index: 10 !important;
  position: absolute !important;
  left: 1% !important;
  bottom: 20% !important;
  width: 50vh !important;
}

div.card > .card-img-top {
  width: 20vh !important;
}

.card-body  {
  padding: 1rem !important;
}

.homeCard {
  width: 80%;
  height: 90%;
  border: solid 2px black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.noticeCard {
  width: 100%;
  height: 90%;
  border: solid 2px black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.noticeCard img {
  width: 95%;
  border-radius: 10px
}

.homeCard img {
  width: 95%;
  border-radius: 10px
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 

}

.notices {
  width: 98%;
  margin: auto
//   display: flex;
//   flex-direction: column;
//   justify-content: center
}



#pac-input {
  z-index: 10 !important;
  display: block !important;
}


.circular-fixed-bottom-right-button {
  height: 70px;
  width: 70px;
  background-color: $primary;
  color: white;
  border-radius: 50px;
  position: fixed;
  bottom: 80px;
  right: 60px;
  border: 0px;
  font-size: 3rem;
  line-height: 1px;
}
.circular-fixed-bottom-right-button:after {
  content: "+";
  position: relative;
  top: -5px;
}

.filter-button {
  background-color: $primary !important;
  border: none !important;
}